body{
  height: 100vh;
  width: 100vw;
  margin: 0px;
}

#bg{
  height: 100%;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  background-image: url("assets/waterfall2.jpg");
  background-color: #0893FF;
  background-size: cover;
}

#box{
  height: 75%;
  width: 50%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;
  font-family: 'Source Sans Pro', Helvetica;

  background: #0893FF;
  border-radius: 2%;
  box-shadow: 3px 3px 5px rgba(0,0,0,0.3);
}

#logo{
  height: 35%;
}

#title{
  width: 70%;
}

#subHeading{

  max-width: 60%;

  font-size: 2vw;
  font-weight: lighter;
  color: #addaff
}

#description{

  width: 60%;

  font-size: 1.2vw;
  color: white;
}
